.DS_Store
device/drive/*
5S-ML/device/drive/* 
frenztoolkit/src/recorded_data/*
*.so 
.venv
.env*
*.zip
drive
cache/*
*.pyc
.pyc
*/.pyc
*/*.pyc
*.pyc
*.wav
*.mp3
device/demo/*
.DS_Store
cloud/.DS_Store
device/.DS_Store
__pycache__
*/__pycache__/*
.cassandra*
cache/*
analysis/data/*
device/cache/*  
.vscode/*
*.cython=.pyc
dist/*
*.edf
*.pyc
analysis/cache/*
build/*
*.rml
device/.DS_Store
analysis/sqc-tool/cache/*
analysis/sqc_tool/cache/*
analysis/victoria_analysis/cache/*
.DS_Store

analysis/sleep_26/cache/*
analysis/sleep_36/cache/*
analysis/sleep_26/demo_scripts/cache/*
analysis/sleep_36/demo_scripts/cache/*
analysis/sleep_masterflow/cache/*
analysis/sqc_tool/results/*


*/data
data
.ipynb_checkpoints
**/cache
**/*log
myenv/*


*.dat
*.npz

state.json

vir_name/*
etensor/*

